[submodule "breast_cancer_nucleome"]
	path = breast_cancer_nucleome
	url = git@github.com:skurscheid/breast_cancer_nucleome.git
[submodule "mcf10a_xenografts"]
	path = mcf10a_xenografts
	url = https://github.com/skurscheid/mcf10a_xenografts
[submodule "cellular_identity_nucleome"]
	path = cellular_identity_nucleome
	url = git@github.com:skurscheid/cellular_identity_nucleome.git
