[submodule "breast_cancer_nucleome"]
	path = breast_cancer_nucleome
	url = git@github.com:skurscheid/breast_cancer_nucleome.git
[submodule "hl_atac_seq"]
	path = hl_atac_seq
	url = git@github.com:skurscheid/hl_atac_seq.git
[submodule "cellcycle_workflow"]
	path = cellcycle_workflow
	url = git@github.com:skurscheid/cellcycle_workflow.git
[submodule "mcf10a_xenografts"]
	path = mcf10a_xenografts
	url = https://github.com/skurscheid/mcf10a_xenografts
